* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/*#root {
    overflow: hidden;
    width: 100vw;
    height: 0vh;
    transition: width 1.2s, height 1.0s;
    margin: 0 auto;
}*/

.root{
    margin: 0 auto;
    padding: 0 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

.rootQuit{
    margin: 70% auto;
    padding: 0 0;
    width: 0vw;
    height: 0vh;
    background: pink;
    opacity: 0;
    transition: width 0.8s, height 0.8s, opacity 0.8s, margin 0.8s;
}

.roots {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition:  opacity 2.5s;
}

#home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url(../img/background.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
    /*opacity: 0;*/
    /*margin-left: 110vw;
    transition: margin-left 1s;*/
}


#prompt {
    overflow: hidden;
    background: url(../img/flag.png) no-repeat;
    background-size: auto 66%;
    background-position: 4% 100%;
}

.prompt {
    width: 8%;
    float: right;
    margin-right: 5vw;
    margin-top: 2.5vh;
}

.btnWrapper {
    overflow: hidden;
    margin-top: 45.3vh;
    height: 11vw;
}

.btnWrapper .btn {
    display: inline-block;
    width: 30vw;
    height: 11vw;
}

.btnWrapper .btn:first-child {
    float: left;
    background: url(../img/personal.png) no-repeat;
    background-size: 100% auto;
    margin-left: 8.5vw;
}

.btnWrapper .btn:last-child {
    float: right;
    background: url(../img/class.png) no-repeat;
    background-size: 100% auto;
    margin-right: 8.5vw;
}


.btnWrapper .btn:active {
    width: 27vw;
    height: 10vh;
    margin-left: 9.6vw;
    margin-right: 9.6vw;
}

.chooseWrapper {
    position: relative;
    width: 84vw;
    height: 30vh;
    margin: 0 auto;
    margin-top: 3vh;
}

.plateBox {
    display: inline-block;
    width: 26.86vw;
    height: 14.3vh;
    margin: 0.01vh 0.53vw;
}

.boxOne {
    background: url(../img/sjdbg.png) no-repeat;
    background-size: 100% 100%;
}

.boxTwo {
    background: url(../img/sgqm.png) no-repeat;
    background-size: 100% 100%;
}

.boxThree {
    background: url(../img/zglsm.png) no-repeat;
    background-size: 100% 100%;
}

.boxFour {
    background: url(../img/qngz.png) no-repeat;
    background-size: 100% 100%;
}

.boxFive {
    background: url(../img/gsdg.png) no-repeat;
    background-size: 100% 100%;
}

.boxSix {
    background: url(../img/yxty.png) no-repeat;
    background-size: 100% 100%;
}

.plateBox:active {
    opacity: 0.4;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/日历式.png) no-repeat;
    background-size: 41% 67%;
    background-position: 50% 47%;
    top: 0;
    left: 0;
    pointer-events: none;
}

#foot {
    /*margin: 0 0;
    float: left;
    font-size: 12px;*/
}

#foot p {
    margin: 0;
    font-size: 3.6vw;
    text-align: center;
    color: rgb(99, 180, 255);
    line-height: 6.6vh;
}


.popCover{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}

.unPopCover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}

.popUps{
    width: 73vw;
    height: 71vw;
    background: url(../img/pop.png) no-repeat;
    background-size: 100% auto;
    margin: 27vh auto;
    padding: 14vw 9vw 5vw 9vw;
}

.popUps p{
    text-align: center;
    font-size: 4vw;
    line-height: 9vw;
    color: rgb(255, 163, 141);
}

.popUps p:first-child{
    margin-top: 2vh;
}

.shutdown{
    position: absolute;
    width: 6vw;
    height: 6vw;
    background: url(../img/shutdown.png);
    background-size: 100% 100%;
    top: 33vh;
    left: 76vw;
}

/*End
*/