#classAchievement{
    overflow: hidden;
    width: 100%;
    height: 203.9vw;
    background: url(../img/classBackground.png) no-repeat;
    background-size: 100% auto;
}

.classBtnWrapper{
    margin-top: 4.15vw;
}

#classAchievement .userHead{
    height: 63.8vw;
}

.classBtnWrapper .classBtn{
    background: url(../img/my.png) no-repeat;
    background-size: 100% auto;
}