#classAchievement{
    overflow: hidden;
    width: 100%;
    height: 204.46vw;
    background: url(../img/classBackground.png) no-repeat;
    background-size: 100% auto;
}

.classBtnWrapper{
    margin-top: 3.3vw;
}

#classAchievement .userHead{
    height: 60.0vw;
}

.classBtnWrapper .classBtn{
    background: url(../img/my.png) no-repeat;
    background-size: 100% auto;
}